<!DOCTYPE html>
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/core.js"></script> -->
    <title>test</title>
  </head>
  <body>
    <form action="/home/decrypt/proccess" id="form-enc" method="post">
      {{ form.csrf_token }}
      <div class="form-group">
        {{form.PlainText.label}}
        {{ form.PlainText(class="form-control" ,id="plaintext", onchange="encrypt()")}}
      </div>
      <div class="form-group">
        {{form.key.label}}
        {{ form.key(class="form-control", id="key", onchange="encrypt()")}}
      </div>
      <div class="form-group">
        {{form.secondKey.label}}
        {{ form.secondKey(class="form-control", id="secondKey", onchange="encrypt()" )}}
      </div>
    </form>
      <p id="result"></p>

      <span>Want To CryptAnalys this chiper? see this story :v</span>
      <a href="{{url_for('Hint')}}" class="btn btn-success"> Hint</a>
    <!-- {{ wtf.quick_form(form) }} -->
    <span>Want To Decrypt?</span>
    <a href="{{url_for('dec')}}">Decrypt</a>
    <script>
      function encrypt()
      {
        var plaintext = document.getElementById("plaintext").value;
        var key = document.getElementById("key").value;
        var secondKey = document.getElementById("secondKey").value;

        $.ajax({
          type: 'POST',
          url: '/home/encrypt/proccess',
          data:{
            "PlainText":plaintext,
            "key":key,
            "secondKey":secondKey
          },
          success: function(response){
            alert("Hasil : "+response);
          }
        })
      }
    </script>
  </body>
</html>
{% endblock %}
