<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hint CTF Simple Encrypt</title>
  </head>
  <body>
    <p>Pada Suatu Hari, Roan Akan melakukan Misi Penjelajahan yang sangat penting untuk menjadikan seorang Roan Menjadi Royal Guard</p>
    <p>Perjalanan yang Ditempuh Roan bukan sembarang jalan, dia harus menjelajahi area terbalik , yang dimana terbaliknya menjadi 13 Derajat</p>
    <p>Lalu Sesampai nya di pintu masuk area tersebut , Roan harus mengalahkan 17 ekor Anubis, 14 ekor Dark Priest dan 5 ekor MVP </p>
    <p>5 Monter MVP itu adalah Amdarias , Amon Ra, Assassin Cross Eremes, Baphomet, dan Beelzebub </p>
    <p>Dia Harus Melakukan 2 kali upgrade senjata untuk menghadapi semua monster tersebut</p>
    <p>pertama Roan harus mengupgrade secara manual hitungan 10 kali dan yang kedua mengupgradenya dengan element stone</p>
    <p>Setelah Melakukan Upgrade, Roan Langsung berjalan menuju Tempat yang telah diberikan oleh master Royal Guard Tersebut</p>
    <p>Berjalan jalan di sekelilingnya hanya ada monster yang bagi seorang Paladin Roan hanyalah butiran Rengginang</p>
    <p>Lalu Roan Bertemu seorang High Priest yang bernama Renza, Roan sangat terkesima dengan cantik dan manisnya seorang High Priest itu</p>
    <p>"Ohh Kamu Roan ya ? ayuk aku bantu ke Gua itu, aku tidak akan membiarkanmu mati Oleh Monster itu"</p>
    <p>"Baiklah Terima Kasih Putri High Priest yang Cantik :) "</p>
    <p>Dengan Kombinasi seorang Paladin dan Seorang High Priest, Mereka pun berhasil mengalahkan semua Monster Monster tersebut.</p>
    <p>Lalu Roan Pun Berkata, "Nanti Jika aku Menjadi Seorang Royal Guard, akan Aku Nikahi Kamu Wahai High Priest yang Cantik"</p>
    <p>Sang High Priest pun tampak sangat senang dan wajahnya memerah bagai tak percaya dia akan di nikahi oleh seorang Royal Guard</p>
    <p>Setelah menyelesaikan misinya dan Kembali ke Kota Prontera Roan Pun diangkat menjadi Royal Guard dan Renza diangkat menjadi seorang Arch Bishop dan akhirnya Mereka Pun menikah di tanggal 17-5-14</p>
    <p>dan Memiliki 3 orang Anak yang Menjadi Rune Knight, Guillotine Cross dan Ranger</p>
  </body>
</html>
